.config\/Code - OSS\/* 
.config\/Code\/* 
.config\/kicad\/* 
.config\/libreoffice\/* 
.config\/pulse\/*
.config\/discord\/*
.config\/i3status\/*
.config\/Thunar\/*
.config\/systemd\/*
.config\/Electron\/*
.config\/chromium\/*
.config\/xfce4\/*

!.config\/Code\/User\/settings.json
!.config\/Code\/storage.json

!.config\/Code - OSS\/User\/settings.json
!.config\/Code - OSS\/storage.json
