* {
  min-height: 0;

  border: none;
  border-radius: 0;

  font-family: "Source Code Pro";
  font-weight: bold;
  font-size: 1em;

}

window#waybar {
  background-color: #d8dee9;
}

.modules-left{
  margin-left: 16px;
}

#workspaces button{
  color: #2E3440;
  background: #D8DEE9;
  box-shadow: none;
  outline: none;

  margin: 8px 4px;
  padding: 2px 8px;
  border-radius: 50%;
  transition-duration: 0s;
}

#workspaces button:hover {
  color: #2E3440;
  background: #ECEFF4;
  transition-duration: 0s;
}

#workspaces button.focused{
  color: #E5E9F0;
  background: #2E3440;
  transition-duration: 0s;
}

.modules-right{
  margin-right: 16px;
}

#battery, #cpu, #memory, #disk{
  margin-right: 16px;
  padding-left: 4px;
  padding-right: 4px;
}

#cpu.loaded #memory.loaded #battery.critical{
  background-color: #BF616A;
  color: #ffffff;
}

#battery.good {
  background-color: #A3BE8C;
}

#battery.warning {
  background-color: #EBCB8B;
}

#battery.charging  {
  background: linear-gradient(to right, #A3BE8C 40%, #C3DEAC 60% , #A3BE8C 80%);
  background-size: 400% 400%;
  animation: BatteryCharging 2s ease infinite;
}

@keyframes BatteryCharging {
    0%{background-position:100% 50%}
    50%{background-position:50% 50%}
    100%{background-position:0% 50%}
}